{
  "presets": [
    ["env", {
      "modules": false,
      "targets": {
        "browsers": ["iOS >= 7"]
      },
      "useBuiltIns": false
    }],
    "stage-2"
  ],
  "plugins": ["transform-vue-jsx", ["transform-runtime", {
    "helpers": true,
    "polyfill": false,
    "regenerator": true,
    "moduleName": "babel-runtime"
  }]]
}
